<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="fragment_header">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=1680,initial-scale=1"/>
        <meta name="format-detection" content="telephone=no">

        <link rel="shortcut icon" th:href="@{/images/favicon/favicon.ico}"/>
        <link rel="icon" type="image/png" th:href="@{/images/favicon/favicon.png}"/>
        <link rel="apple-touch-icon" th:href="@{/images/favicon/favicon.png}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/aicrm/content.css(v=${v})}"/>

    </head>
</html>